<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProtoSpace</title>
    
    <link rel="stylesheet" th:href="@{/assets/application.css}" media="all" />
    <script th:src="@{/packs/js/application.js}"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>
  
  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <a th:href="@{/}">
              <img class="logo" th:src="@{/assets/logo.png}" alt="ProtoSpace" />
            </a>
          </div>
          <div class="nav__right">
            <a class="nav__btn" th:href="@{/users/sign_in}">ログイン</a>
            <a class="nav__btn" th:href="@{/users/sign_up}">新規登録</a>
          </div>
        </div>
      </div>
    </header>

    <div class="main">
      <div class="inner">
        <div class="form__wrapper">
          <h2 class="page-heading">ユーザー新規登録</h2>
          
          <form th:action="@{/user}" th:object="${userForm}" method="post">
            
            <div class="field">
              <label for="email">メールアドレス</label><br />
              <input autofocus="autofocus" autocomplete="email" type="email" th:field="*{email}" id="email" />
            </div>
            
            <div class="field">
              <label for="password">パスワード（6文字以上）</label><br />
              <input autocomplete="new-password" type="password" th:field="*{password}" id="password" />
            </div>
            
            <div class="field">
              <label for="password_confirmation">パスワード再入力</label><br />
              <input autocomplete="off" type="password" th:field="*{passwordConfirmation}" id="password_confirmation" />
            </div>
            
            <div class="field">
              <label for="user_name">ユーザー名</label><br />
              <input type="text" th:field="*{user_name}" id="user_name" />
            </div>
            
            <div class="field">
              <label for="profile">プロフィール</label><br />
              <textarea class="form__text" th:field="*{profile}" id="profile"></textarea>
            </div>
            
            <div class="field">
              <label for="team">所属</label><br />
              <textarea class="form__text" th:field="*{team}" id="team"></textarea>
            </div>
            
            <div class="field">
              <label for="job_title">役職</label><br />
              <textarea class="form__text" th:field="*{job_title}" id="job_title"></textarea>
            </div>
            
            <div class="actions">
              <input type="submit" value="新規登録" class="form__btn" />
            </div>
          </form>
          
        </div>
      </div>
    </div>

    <footer class="footer">
      <p class="copyright">Copyright © PROTO SPACE All rights reserved.</p>
    </footer>
  </body>
</html>