<header xmlns:th="http://www.thymeleaf.org" th:fragment="header" class="header">

  <div class="header__inner">

    <h1 class="header__logo">
      <a th:href="@{/}">
        <img th:src="/images/image.png" alt="SHARE THE PROTOTYPE PROTO SPACE" class="header__logo-img">
      </a>
    </h1>

    <div class="header__nav">
      <a th:href="@{/users/sign_in}" class="header__btn header__btn--login">ログイン</a>
      <a th:href="@{/users/sign_up}" class="header__btn header__btn--signup">新規登録</a>
    </div>

  </div>

</header>