<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

  <head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>ProtoSpace</title>
  </head>

  <body>
    <div th:insert="~{header :: header}"></div>

<div class="contents row">
  <div class="content_post" th:style="'background-image: url(' + (${prototype.image}) + ');'">

   <div th:if="${#authorization.expression('isAuthenticated()') and #authentication?.principal.getId() == prototype.user.id}">
    <div class="more">
      <span><img th:src="@{/images/arrow_top.png}" /></span>
      <ul>

      </ul>
    </div>
    </div>

        <h2 th:text="${prototype.title}"></h2>
        <p class="catchcopy" th:text="${prototype.catchcopy}"></p>
        <p class="concept" th:text="${prototype.concept}"></p>

    <span class="name">
      <a th:href="@{/users/{id}(id=${prototype.user.id})}">
        <span>投稿者</span><span th:text="${prototype.user.user_name}"></span>
      </a>
    </span>
  </div>

    <div class="container">
    <div th:if="${#authorization.expression('isAuthenticated()')}">
      <div th:if="${errorMessages}" th:each="error : ${errorMessages}">
        <div th:text="${error.defaultMessage}"></div>
      </div>
      <form th:action="@{/prototypes/{prototypeId}/comment(prototypeId=${prototype.id})}" method="post" th:object="${commentForm}">
        <textarea id="text" th:field="*{text}" placeholder="コメントする" rows="2"></textarea>
        <input type="submit" value="SEND">
      </form>
    </div>
    <div th:if="${#authorization.expression('!isAuthenticated()')}"></div>

    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <div th:each="comment:${comments}">
        <p>
          <strong>
            <a th:href="@{/users/{userId}(userId=${comment.user.id})}" th:text="${comment.user.user_name}"></a>：
          </strong>
          <span th:text="${comment.text}"></span>
        </p>
      </div>
    </div>
  </div>
</div>


    <div th:insert="~{footer :: footer}"></div>

  </body>

</html>