<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ProtoSpace</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <main class="main">

      <div th:insert="~{header :: header}"></div>

      <div class="inner">
        
        <!--左上の挨拶メッセージ-->
        <div sec:authorize="isAuthenticated()" class="greeting">
          こんにちは、
          <a th:href="@{/users/{id}(id=${#authentication.principal.user.id})}" class="greeting__link" th:text="${#authentication.principal.nickname}">ユーザー名</a>さん
        </div>

        <div class="card__wrapper">
          <div class="card" th:each="prototype : ${prototypes}">
 
            <a th:href="@{/prototypes/detail/{prototypeId}(prototypeId=${prototype.id})}">
              <img th:src="@{/prototypes/image/{id}(id=${prototype.id})}" class="card__img" alt="プロトタイプ画像" />
            </a>
            
         <div class="card__body">
              <!--投稿内容-->
              <a th:href="@{#}" class="card__title" th:text="${prototype.title}">プロトタイプ名</a>
              
              <!--キャッチコピー-->
              <p class="card__summary" th:text="${prototype.catchcopy}">キャッチコピー</p>

              <!--投稿者名-->
              <a th:href="@{/users/{id}(id=${prototype.user.id})}" class="card__user" th:text="'by ' + ${prototype.user.userName}">by 投稿者</a>
            </div>

          </div>
        </div>
      </div>

      <div th:insert="~{footer :: footer}"></div>

    </main>
  </body>
</html>