<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ProtoSpace</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header class="header">
      <div class="header-logo">
        <a href="#">SHARE THE PROTOTYPE<br><span>PROTO SPACE</span></a>
      </div>
      <div class="header-nav">
        <a href="#" class="nav-link-logout">ログアウト</a>
        <a href="#" class="nav-btn-new">New Proto</a>
      </div>
    </header>

    <main class="main-content">

      <p class="welcome-message">こんにちは、<a href="#">テスト新井さん</a></p>

      <div class="prototype-grid">

        <div class="prototype-card">
          <div class="prototype-image-wrapper">
            <img src="path_to_image1.png" alt="ウェブアプリ１の画像" class="prototype-image">
          </div>

          <h2 class="prototype-title"><a href="#">ウェブアプリ１</a></h2>
          <p class="prototype-catchphrase">テキスト</p>
          <p class="prototype-author">by <a href="#">名前</a></p>
        </div>

        <div class="prototype-card">
          <div class="prototype-image-wrapper">
            <img src="path_to_image2.png" alt="ウェブアプリ２の画像" class="prototype-image">
          </div>
          <h2 class="prototype-title"><a href="#">ウェブアプリ２</a></h2>
          <p class="prototype-catchphrase">テキスト</p>
          <p class="prototype-author">by <a href="#">名前</a></p>
        </div>

        <div class="prototype-card">
          <div class="prototype-image-wrapper">
            <img src="path_to_image3.png" alt="ウェブアプリ３の画像" class="prototype-image">
          </div>
          <h2 class="prototype-title"><a href="#">ウェブアプリ3</a></h2>
          <p class="prototype-catchphrase">テキスト</p>
          <p class="prototype-author">by <a href="#">名前</a></p>
        </div>
        
        </div>
        </main>

        <footer class="footer">
    <p class="copyright">Copyright © PROTO SPACE All rights reserved.</p>
  </footer>

</body>
</html>